
        .container{
            display: grid;
            grid-template-columns: 100px repeat(1,1fr);
            gap: 10px;

        }
        .box-1{
            width: 100%;
            height: 620px;
            background-color: burlywood;
        }
        .box-1 h3{
            padding: 0% 10%;
        }
        .three-part{
            display: grid;
            grid-template-rows:100px 400px 100px;
            gap: 10px;
        }
        .part-1{
            background-color: blue;
            width: 100%;
        }
        .part-1 h3{
            padding: 0px 10px;
        }
        .part-2{
            display: grid;
            grid-template-columns:5fr repeat(1,1fr);
            gap: 10px;
        }
        .inner-side-1{
            /* width: 100%; */
            background-color: blueviolet;
        }
        .inner-side-1 h3{
            padding: 0px 10px;
        }
        
        @media screen and (max-width:576px){
            .part-2{
                grid-template-columns:2fr repeat(1,1fr); 
            } 
              
        }

        
    